body
{
    font-family: 'Times New Roman';
    background-color: darkgrey;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

header
{
    font-size: x-large;
    background-color: darkgreen;
    width: 100%;
    height: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

footer
{
  font-size: large;
  background-color: darkolivegreen;
  position: absolute;
  width: 100%;
  height: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
  color: white;
}



header ul li  {
    background-origin: content-box;
    display: inline-block;
    vertical-align: baseline;
     border-color: darkgreen;
    }



footer ul li
{
    background-origin: content-box;
    display: inline-block;
    vertical-align: baseline;
    color: grey;
}






table {
    border:black 2px solid;
    margin-left: 20%;
    margin-right: 20%;

  }

  tbody
{
   text-align: center;
   
}
  td, th {
    border: black 2px solid;
  }

th {
    color: darkslategray;
}

tr:nth-child(odd)
{
   color:pink;
   
}

tr:nth-child(even)
{
   color: seagreen;
   
}

a:active{
    color: red;
}

p:hover {

    color:royalblue;
}

.principal
{
    margin: 1px;
}


.seccion1
{
   
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    height: 20%;
}

.tituloscentrales
{
    color: blue;
    font-size: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 300px;
    margin-right: 400px;
    width: 200px;
    height: 25px;

}

.anuncio1
{
    
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 50%;
    background-color: darkslategray;
    font-size: 20px;
    border: black 4px solid;
}

.anuncio2
{
    margin-top: -10%;
    margin-bottom: -10%;
    margin-left: 51%;
    margin-right: 1%;
    border: black 4px solid;
    background-color: darkslategray;
    font-size: 20px;
    color: wheat;  
}

.seccion2
{ 
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    height: 40%;
}

.seccion3
{   
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    height: 40%;
}
